@using MicUI.NerveHub.Module.Security;
@inject IAuthentication _authentication
@inject IConfiguration _configuration;
@{
    NavMenuViewModel Model = _authentication.NavMenu();
    var ConfigurationURL = $"{_configuration.GetValue<string>("ConfigurationURL")}";
    var UserPreferenceChangePage = $"{ConfigurationURL}/Configuration/UserPreference";
}
@functions {
    public string GetURL()
    {


        return "http://localhost:6900&Tanent=Default";

        //  return _authentication.navMenuViewModel.flag;

    }
}
@if (!string.IsNullOrWhiteSpace(Model.UserName))
{
    //  BPA.GlobalResources.UI.Resources.Welcome + ": " + GetName()
    @(Html.Kendo().Menu()
                                .Name("NavMenu")
                                    .Items(items =>
                                {

                                    items.Add().Text("Welcome" + ": " + Model.UserName);
                                    items.Add().Text("")
                                     .Content(@<text>
                                         <table>
                                             <tr>
                                                 <td width="180">
                                                     <div class="Images-ico20px-curlang20"></div>
                                                     <span>Current Language:</span>
                                                 </td>
                                                 <td width="180"><span>@Model.Language</span></td>
                                             </tr>
                                             <tr>
                                                 <td>
                                                     <div class="Images-ico20px-ctimezone20"></div>
                                                     <span>Current TimeZone:</span>
                                                 </td>
                                                 <td>
                                                     <span>@Model.TimeZone</span>
                                                     @Html.Hidden("hdnCurrentOffset", Model.TimeZone)
                                                 </td>
                                             </tr>
                                             <tr>
                                                 <td>
                                                         <a href="@UserPreferenceChangePage" tabindex="0">
                                                         <div class="Images-ico20px-userpref20"></div>
                                                         <span>UserPreference</span>
                                                     </a>
                                                 </td>
                                                 <td></td>
                                             </tr>
                                             <tr>
                                                 <td colspan="4"><hr /></td>
                                             </tr>

                                             @if (Model.lactiveModule != null)
                                                 {
                                                     int tempCount = 0;
                                                     int k = 0;
                                                     int numberCount = Model.lactiveModule.Count();
                                                     int halfIndex = Model.lactiveModule.Count() / 2;

                                                     if ((numberCount % 2) != 0)
                                                     {
                                                         halfIndex = halfIndex + 1;
                                                     }

                                                     for (int i = 0; i < halfIndex; i++)
                                                     {
                                                         tempCount = 0;
                                                         <tr>
                                                             @{
                                                                 for (int j = k; j < Model.lactiveModule.Count; j++)
                                                                 {
                                                                     if (Model.lactiveModule[j].ModuleName != string.Empty)
                                                                     {
                                                                         if (tempCount == 2)
                                                                         {

                                                                             break;
                                                                         }

                                                                         else
                                                                         {
                                                                             tempCount++;

                                                                             if (Model.lactiveModule[j].ModuleName != null && Model.lactiveModule[j].ModuleName.Contains("AppConfiguration"))
                                                                             {
                                                                                 <td width="80">
                                                                                     <a href="@Url.Action("Index", "Home", new { area = "AppConfiguration" })">
                                                                                         <div title="Configuration" class="Images-ico20px-config20"></div>
                                                                                         <span>Configuration</span>
                                                                                     </a>
                                                                                 </td>
                                                                                 k++;
                                                                                 continue;
                                                                             }
                                                                             else if (Model.lactiveModule[j].ModuleName != null && Model.lactiveModule[j].ModuleName.Contains("WorkManagement"))
                                                                             {
                                                                                 <td width="80">
                                                                                     <a href="@Url.Action("Index", "Home", new { area = "WorkManagement" })">
                                                                                         <div title="WorkManagement" class="Images-ico20px-swm20"></div>
                                                                                         <span>WorkManagement</span>
                                                                                     </a>
                                                                                 </td>
                                                                                 k++;
                                                                                 continue;
                                                                             }
                                                                             else if (Model.lactiveModule[j].ModuleName != null && Model.lactiveModule[j].ModuleName.Contains("EmailManagement"))
                                                                             {
                                                                                 <td width="80">
                                                                                     <a href="@Url.Action("Index", "Home", new { area = "EmailManagement" })">
                                                                                         <div title="EMSAdapter" class="Images-ico20px-emailconfig20"></div>
                                                                                         <span>EMSAdapter</span>
                                                                                     </a>
                                                                                 </td>
                                                                                 k++;
                                                                                 continue;
                                                                             }
                                                                             else if (Model.lactiveModule[j].ModuleName != null && Model.lactiveModule[j].ModuleName.Contains("QualityManagement"))
                                                                             {
                                                                                 <td width="80">
                                                                                     <a href="@Url.Action("Index", "Home", new { area = "QualityManagement" })">
                                                                                         <div title="QualityManagement" class="Images-ico20px-qms20"></div>
                                                                                         <span>QualityManagement</span>
                                                                                     </a>
                                                                                 </td>
                                                                                 k++;
                                                                                 continue;
                                                                             }
                                                                             else if (Model.lactiveModule[j].ModuleName != null && Model.lactiveModule[j].ModuleName.Contains("LetterLibrary"))
                                                                             {
                                                                                 <td width="80">
                                                                                     <a href="@Url.Action("Index", "Home", new { area = "LetterLibrary" })">
                                                                                         <div title="LetterLibrary" class="Images-ico20px-letterlib20"></div>
                                                                                         <span>LetterLibrary</span>
                                                                                     </a>
                                                                                 </td>
                                                                                 k++;
                                                                                 continue;
                                                                             }
                                                                             else if (Model.lactiveModule[j].ModuleName != null && Model.lactiveModule[j].ModuleName.Contains("AssessMe"))
                                                                             {
                                                                                 <td width="80">
                                                                                     <a href="@Url.Action("Index", "Home", new { area = "AssessMe" })">
                                                                                         <div title="AssessME" class="Images-ico20px-assess20"></div>
                                                                                         <span>AssessME</span>
                                                                                     </a>
                                                                                 </td>
                                                                                 k++;
                                                                                 continue;
                                                                             }
                                                                             else if (Model.lactiveModule[j].ModuleName != null && Model.lactiveModule[j].ModuleName.Contains("ProcessGuidance"))
                                                                             {
                                                                                 <td width="80">
                                                                                     <a href="@Url.Action("Index", "Home" , new { area="ProcessGuidance" })">
                                                                                         <div title="ProcessGuidance" class="Images-ico20px-assist20"></div>
                                                                                         <span>ProcessGuidance</span>
                                                                                     </a>
                                                                                 </td>
                                                                                 k++;
                                                                                 continue;
                                                                             }
                                                                             else if (Model.lactiveModule[j].ModuleName != null && Model.lactiveModule[j].ModuleName.Contains("QueryTracker"))
                                                                             {
                                                                                 <td width="80">
                                                                                     <a href="@Url.Action("Index", "Home", new { area = "QueryTracker" })">
                                                                                         <div title="QueryTracker" class="Images-ico20px-querytracker20"></div>
                                                                                         <span>QueryTracker</span>
                                                                                     </a>
                                                                                 </td>
                                                                                 k++;
                                                                                 continue;
                                                                             }
                                                                             else if (Model.lactiveModule[j].ModuleName != null && Model.lactiveModule[j].ModuleName.Contains("BIReports"))
                                                                             {
                                                                                 <td width="80">
                                                                                     <a href="@Url.Action("Index", "Home", new { area = "BIReports" })">
                                                                                         <div title="BIReports" class="Images-ico20px-processrepo20"></div>
                                                                                         <span>BIReports</span>
                                                                                     </a>
                                                                                 </td>
                                                                                 k++;
                                                                                 continue;
                                                                             }

                                                                             else if (Model.lactiveModule[j].ModuleName != null && Model.lactiveModule[j].ModuleName.Contains("Dashboard"))
                                                                             {
                                                                                 <td width="80">
                                                                                     <a href="/Dashboard/@Model.ClientName/DesktopConsole.application?ApplicationURl=@GetURL()">
                                                                                         <div title="Dashboard" class="Images-ico20px-agentdash20"></div>
                                                                                         <span>Dashboard</span>
                                                                                     </a>
                                                                                 </td>
                                                                                 k++;
                                                                                 continue;
                                                                             }
                                                                             else
                                                                             {
                                                                                 k++;
                                                                             }


                                                                         }

                                                                     }
                                                                     else
                                                                     {
                                                                         k++;
                                                                     }
                                                                 }
                                                             }
                                                         </tr>
                                                     }
                                                 }
                                                 <tr>
                                                     <td colspan="4">
                                                         <a href="@Url.Action("SignOut", "Base", new { area = string.Empty })">
                                                             <div class="Images-ico20px-signout20"></div>
                                                             <span>Signout</span>
                                                         </a>
                                                     </td>
                                                 </tr>
                                             </table>
                                         </text>);
                                }))
}
