@model ChangePaswViewModel

@using BPA.GlobalResources.UI;
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";

}<script src="~/lib/bpa/jquery.js"></script>
<script src="~/lib/bpa/jquery.alerts.js"></script>
@*<link href="~/assets/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@

@*<script src="~/Scripts/jquery.validate.min.js"></script>*@
@*<script src="~/Scripts/Kendo/2018.2.620/kendo.all.min.js"></script>
    <link href="~/Content/Kendo/2018.2.620/kendo.common-material.min.css" rel="stylesheet" />*@
<style>
    .btn_ {
        border-radius: 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid transparent !important;
        cursor: pointer !important;
        line-height: inherit !important;
        background: none !important;
    }

    .btn-primary {
        background-color: #004286 !important;
        border-color: #004286 !important;
        color: #fff !important;
    }

        .btn-primary:hover {
            background-color: #004e9f !important;
            border-color: #004e9f !important;
            color: #fff !important;
        }

        .btn-primary:focus, .btn-primary.focus {
            color: #fff !important;
        }

        .btn-primary.disabled, .btn-primary:disabled {
            background-color: #004286 !important;
            border-color: #004286 !important;
            opacity: 0.5 !important;
        }

        .btn-primary:active, .btn-primary.active,
        .show > .btn-primary.dropdown-toggle {
            background-color: #004e9f !important;
            border-color: #004e9f !important;
            color: #fff !important;
        }

    .input, button, select, optgroup, textarea {
        font-size: larger !important;
    }

    #pswd_info {
        position: absolute;
        top: 363px;
        right: 320px;
        width: 260px;
        padding: 15px;
        background: #fefefe;
        font-size: .875em;
        border-radius: 5px;
        box-shadow: 0 1px 3px #ccc;
        border: 1px solid #ddd;
    }

        #pswd_info h4 {
            margin: 0 0 10px 0;
            padding: 0;
            font-weight: normal;
        }

        #pswd_info::before {
            content: "\25B2";
            position: absolute;
            top: -12px;
            left: 45%;
            font-size: 14px;
            line-height: 14px;
            color: #ddd;
            text-shadow: none;
            display: block;
        }

    .invalid {
        background: url('../../images/WrongAns.jpg') no-repeat 0 50%;
        padding-left: 22px;
        line-height: 24px;
        color: #ec3f41;
    }

    .valid {
        background: url('../../images/CorrectAns.jpg') no-repeat 0 50%;
        padding-left: 22px;
        line-height: 24px;
        color: #3a7d34;
    }

    .layout-boxed {
        background: url('../../images/boxed-bg.png') fixed;
    }

    .content-wrapper {
        background-image: url("../../images/bg_body.png") !important;
        background-attachment: fixed !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        -moz-background-size: cover !important;
        -webkit-background-size: cover !important;
        height: 100%;
        background-position: center center !important;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/background.png', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/background.png', sizingMethod='scale')";
    }

    body {
        background: url('../../images/bg_body.png');
    }

    /*div.transbox {
            padding: 30px;
            background-color: #ffffff;
            opacity: 0.8;
        }
        .shadow {
            -moz-box-shadow: inset 0 0 10px #000000;
            -webkit-box-shadow: inset 0 0 10px #000000;
            box-shadow: inset 0 0 10px #000000;
        }*/
</style>
@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @id = "form1" }))
{
    @Html.AntiForgeryToken()

    <div class="content-wrapper" style="margin-top: 40px;height:700px;">
        <div class="transbox">
            <div class="row">
                <div class="col-md-4 mb-4"></div>
                <div class="col-md-4 mb-4" style="border-bottom-width: 1px; border-bottom-style: solid; box-sizing: border-box;color:#99abb4;">
                    <h3 class="box-title">Change Password</h3>
                </div>
                <div class="col-md-4 mb-4"> </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4"></div>
                <div class="col-md-4 mb-4">
                    <label for="t_number">User Name <span class="text-danger"></span></label>
                    @Html.TextBoxFor(d => d.sUserName, new { @class = "form-control", maxlength = "100" })
                    @*<input type="text" name="txtUserName" id="txtUserName" class="form-control">*@
                    <span class="errorUserName" style="color:red"></span>
                </div>
                <div class="col-md-4 mb-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                </div>
                <div class="col-md-4 mb-4">
                    <label for="t_date">Old Password <span class="text-danger">*</span></label>
                    @Html.PasswordFor(d => d.sOldPasw, new { @class = "form-control", maxlength = "100" })
                    @*<input type="password" name="txtOldPassword" id="txtOldPassword" class="form-control">*@
                    <span class="errorOldPassword" style="color:red"></span>
                </div>
                <div class="col-md-4 mb-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                </div>
                <div class="col-md-4 mb-4">
                    <label for="t_date">New Password <span class="text-danger">*</span></label>
                    @Html.PasswordFor(d => d.sNewPasw, new { @class = "form-control", maxlength = "100" })
                    @*<input type="password" name="txtNewPassword" id="txtNewPassword" class="form-control" required>*@
                    <span class="errorNewPass" style="color:red"></span>

                </div>
                <div class="col-md-4 mb-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                </div>
                <div class="col-md-4 mb-4">
                    <label for="t_date">Re New Password <span class="text-danger">*</span></label>
                    @Html.PasswordFor(d => d.sRenewPasw, new { @class = "form-control", maxlength = "100" })
                    @*<input type="password" name="txtReNewPassword" id="txtReNewPassword" class="form-control" required>*@
                    <span class="error" style="color:red"></span>

                </div>
                <div class="col-md-4 mb-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                </div>
                <div class="col-md-4 mb-4" style="text-align: right;">
                    <button type="button" style="width:110px;" id="ChangeSubmit" onclick="saveData()" class="btn_ btn-primary" title="Submit">Submit</button>

                </div>
                <div class="col-md-4 mb-4">
                </div>

            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                </div>
                <div class="col-md-4 mb-4" style="text-align: right;">
                </div>
                <div class="col-md-4 mb-4">
                </div>

            </div>
        </div>
    </div>
    <div id="pswd_info" style="display:none;">
        <h4>Password must meet the following requirements:</h4>
        <ul>
            <li id="letter" class="invalid">At least <strong>one letter</strong></li>
            <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
            <li id="number" class="invalid">At least <strong>one number</strong></li>
            <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
        </ul>
    </div>


}
@{
    if (ViewData["result"] != "" && ViewData["result"] != null)
    {
        <script type="text/javascript" language="javascript">
            jAlert('@ViewData["result"]');
        </script>
    }
}

<script>
    var Resources = {


        url_FindUserLoginName: '@Url.Action("FindUserLoginName","Home")'
    }

    var allowsubmit = true;
    $(document).ready(function () {

        $.ajax({
            url: Resources.url_FindUserLoginName,
            type: 'Post',
            //data: { __RequestVerificationToken: token, PageNum: pnum, F_NP: "P" },
            dataType: 'json',
            cache: false,
            success: function (result) {

                $("#sUserName").val(result);
                $("#sUserName").prop("disabled", true);
            }

        });
    })
    $(function () {
        //on keypress
        $("#sRenewPasw").keyup(function (e) {

            //get values
            var pass = $('#sNewPasw').val();
            var confpass = $(this).val();

            //check the strings
            if (pass == confpass) {
                //if both are same remove the error and allow to submit
                $('.error').text('');
                allowsubmit = false;
            } else {
                //if not matching show error and not allow to submit
                $('.error').text('Password not matching');
                allowsubmit = true;
            }
        });
        $("#sNewPasw").keyup(function (e) {
            var Pasw = $(this).val();
            var pass = $(this).val().length;
            $('.errorNewPass').text('');
            $('.error').text('');
            //check the strings
            if (pass < 8) {
                $('#length').removeClass('valid').addClass('invalid');
                //if both are same remove the error and allow to submit
                //  $('.errorNewPass').text(pass);
                allowsubmit = true;
            } else {
                $('#length').removeClass('invalid').addClass('valid');

                //if not matching show error and not allow to submit
                //  $('.errorNewPass').text('Out- ' + pass);
                // $('.errorNewPass').text('Password contains atleast 8 Characters');
                allowsubmit = false;
            }
            //validate letter
            if (Pasw.match(/[A-z]/)) {
                $('#letter').removeClass('invalid').addClass('valid');
                allowsubmit = false;
            } else {
                $('#letter').removeClass('valid').addClass('invalid');
                allowsubmit = true;
            }

            //validate capital letter
            if (Pasw.match(/[A-Z]/)) {
                $('#capital').removeClass('invalid').addClass('valid');
                allowsubmit = false;
            } else {
                $('#capital').removeClass('valid').addClass('invalid');
                allowsubmit = true;
            }

            //validate number
            if (Pasw.match(/\d/)) {
                $('#number').removeClass('invalid').addClass('valid');
                allowsubmit = false;
            } else {
                $('#number').removeClass('valid').addClass('invalid');
                allowsubmit = true;
            }

        });
    })
    $("#sNewPasw").focus(function () {
        $('#pswd_info').show();
    })
    $("#sNewPasw").blur(function () {
        $('#pswd_info').hide();
    })
    $("#txtUserName").keyup(function (e) {
        $('.errorUserName').text('');
    })
    $("#sOldPasw").keyup(function (e) {
        $('.errorOldPassword').text('');
    })
    function saveData() {
        var validation = false;
        if ($("#txtUserName").val() == '') {
            $('.errorUserName').text('Please Fill UserName !');
            validation = true;
        }
        if ($("#sOldPasw").val() == '') {
            $('.errorOldPassword').text('Please Fill Old Password !');
            validation = true;
        }
        if ($("#sNewPasw").val() == '') {
            $('.errorNewPass').text('Please Fill New Password !');
            validation = true;
        }
        if ($("#sRenewPasw").val() == '') {
            $('.error').text('Please Fill Re New Password !');
            validation = true;
        }
        if (validation == false) {
            if (allowsubmit == true) {

                var errormsg = "The Password supplied does not meet the minimum Complexity requirements.Please select another password that meets all the following criteria; contains atleast 8 Characters; does not contain your login name; contains atleast one Numeral; contains atleast one Uppercase character(A through Z); contains atleast one Lowercase character(a through z)";
                jAlert(errormsg);
                return;
            }
            else {
                $("#form1").submit();
            }
        }
        else {
            return;
        }

    }
            //$("#GenrateReport").click(function () {


            //})
                                                                  //   $("#password").password('toggle');

</script>

